body{
	margin: 0;
	padding: 0;
	font-family: 'Poppins', sans-serif;
}

.color{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	text-align: center;
}

.hex{
    background-color:black;
    color: white;
}

#hexadecimal{
	font-size: 35px;
	color: #ffffff;
	display: block;
	text-transform: uppercase;
	margin: 15px;
}

.color button{
	cursor: pointer;
	background: none;
	outline: none;
	font-size: 15px;
	color: #ffffff;
	border: 3px solid #fff;
	border-radius: 25px;
	padding: 10px 15px;
	transition: transform .3s ease
}

.color button:hover{
	transform: scale(1.1);
}

.tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 100%;
  left: 50%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.hex:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}